<div class="column is-one-third is-narrow">
  <div class="box">
    <h1 class="title">Edit <%= current_user.name %></h1>
    <h2 class="subtitle">Gotta update your info? Look no further...</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :email, required: true %>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions columns is-centered field">
        <div class="column is-half control">
          <%= button_tag type: 'submit', class: "button is-dark is-small is-fullwidth" do %>
            <i class='icon'><%= fa_icon('edit') %></i>
            <span>Update</span>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <br>
    <p>Unhappy? <%= link_to "Cancel my account.", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
