<div class="column is-one-third is-narrow">
  <div class="box">
    <h1 class="title">Let's Make an Account!</h1>
    <h2 class="subtitle">Then you can see who is saying what...</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions columns is-centered field">
        <div class="column is-half control">
          <%= button_tag type: 'submit', class: "button is-dark is-small is-fullwidth" do %>
            <i class='icon'><%= fa_icon('file-signature') %></i>
            <span>Sign up</span>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>













