<div class="comment">
  <div class="comment_author">
    <% if user_signed_in? %>
      <p>
        <span class="user-name"><%= comment.user.username %></span> 
        <span>says:</span>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <span class="comment_controls">
            <%= link_to comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class='icon'><%= fa_icon('trash') %></span>
            <% end %>
          </span>
        <% end %>
      </p>
    <% else %>
      <p><span class="user-name">Anonymous says:</span></p>
    <% end %>
  </div>
  
  <div class="comment_body white-back">
    <p><%= comment.comment_body %></p>
  </div>

  <div class="reply-form">
    <%= simple_form_for [comment, Comment.new] do |f| %>
      <div class="field has-addons">
        <div class="control is-expanded">
          <%= f.input_field :comment_body,
                            placeholder: "Add a Reply",
                            label: false,
                            rows: '1',
                            class: 'textarea reply-sizing' %>
        </div>
        <div class="control">
          <%= f.button :submit, "Reply", class: 'is-dark is-small reply-button' %>
        </div>
      </div>
    <% end %>
  </div>

  

  <hr class="tile-hr">

  <%= render partial: 'comment', collection: comment.comments %>

</div>