<section id='wrapper' class="section columns is-centered">
<div class="column is-two-thirds is-narrow">
  <div class="box">
    <p id="notice"><%= notice %></p>

    <h1 class="title">
      <%= @post.post_title %>
    </h1>
    <h2 class="subtitle">
      <span>Author: </span> 
      <% if user_signed_in? %>
        <%= @post.user.name %>
      <% else %>
        <span>Anonymous</span>
      <% end %>
    </h2>
    
    <div class="content">
      <p>
        <%= @post.post_body %>
      </p>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.name == @post.user.name %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
      <% end %>
    <% end %>
    
    <%= link_to root_path do %>
      <span class='icon'><%= fa_icon('vihara') %></span>
      <span>Home</span>
    <% end %>
  </div>
</div>

<div class="column is-one-third is-narrow">
  <div class="box">
    <h2 class="title is-4">Comments</h2>

    <%# <% if @post.comments.any? %\>
      <% @post.comments.each do |comment| %\>
        <%= render partial: 'comment', locals: { comment: comment} %\>
      <% end %\>
    <% end %\> %>

    <%= render partial: 'comment', collection: @post.comments %>
    
    <br>
    
    <% if user_signed_in? %>
      <%= render partial: 'comments/form' %>
    <% end %>

  </div>
</div>
</section>
  