<div class="column is-two-thirds is-narrow">
  <div class="box">
    <p id="notice"><%= notice %></p>

    <h1 class="title">
      <%= @post.post_title %>
    </h1>
    <h2 class="subtitle">
      <span>Author: </span> 
      <% if user_signed_in? %>
        <%= @post.user.name %>
      <% else %>
        <span>Anonymous</span>
      <% end %>
    </h2>
    
    <div class="content">
      <p>
        <%= @post.post_body %>
      </p>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.name == @post.user.name %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
      <% end %>
    <% end %>
    
    <%= link_to root_path do %>
      <span class='icon'><%= fa_icon('vihara') %></span>
      <span>Home</span>
    <% end %>
  </div>
</div>

<div class="column is-one-third is-narrow">
  <div class="box">
    <h2 class="title is-4">Comments (<%= @post.comments.size %>)</h2>

    <% @post.comments.each do |comment| %>
      <div class="comment">
        <div class="comment_author">
          <% if user_signed_in? %>
            <p>
              <span class="user-name"><%= comment.user.username %></span> 
              <span>says:</span>
            </p>
          <% else %>
            <p><span class="user-name">Anonymous says:</span></p>
          <% end %>
        </div>
        <div class="comment_body">
          <p><%= comment.comment_body %></p>
        </div>
      </div>
    <% end %>

    <br>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form' %>
    <% end %>
  </div>
</div>
  