<p id="notice"><%= notice %></p>

<p>
  <strong>Post title:</strong>
  <%= @post.post_title %>
</p>

<p>
  <strong>Post body:</strong>
  <%= @post.post_body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
