<!DOCTYPE html>
<html>
  <head>
    <title>The Clubhouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class='has-navbar-fixed-top'>
    <nav class="navbar is-fixed-top is-dark">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <span id="logo-icon" class='icon'><%= fa_icon('vihara') %></span>
          <span>Clubhouse</span>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarButtons">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarButtons" class="navbar-menu">
        <div class="navbar-start">
          <% if user_signed_in? %>
            <%= link_to current_user.name, edit_user_registration_path, class: "navbar-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item" %>
          <% end %>
        </div>
        <div class="navbar-end">
          <% if user_signed_in? %>
            <%= link_to "My Comments", my_comments_path, class: "navbar-item smaller" %>
            <%= link_to "My Posts", my_posts_path, class: "navbar-item smaller" %>
            <%= link_to "Create Post", new_post_path, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <section id='wrapper' class="section columns is-centered is-vcentered">
      <%= yield %>
    </section>
    
    <footer class='footer'>
      <div class="content has-text-centered">
        <% if !user_signed_in? %>
          To see the authors of these posts either sign in or create a new account!
        <% end %>

        <p>
          This site was created in answer to the 'Project: Authentication' specs in the Ruby on Rails Course from The Odin Project. By: Ben Eck
        </p>
      </div>
    </footer>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const notes = document.querySelectorAll('.notification');

    // Check if there are any navbar burgers
    if (notes.length > 0) {

        // Add a click event on each of them
        notes.forEach( el => {
          setTimeout(() => {
            el.remove()
          }, 3000);
        });
      }

    });
  </script>

</html>
